<!doctype html>
<title>{% block title %}{% endblock %} - AnnotationEngine - v.{{version}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <ul><li>
     <a href="{{url_for('views.index')}}">AnnotationEngine - v.{{version}}</a>
  </li>

    <li>
          <a href="{{url_for('views.index')}}">Datasets</a>    
    </li>
    <li>
        <a href="/annotation/api/doc">API doc</a>    
    </li>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>