Flask
-e git+https://github.com/seung-lab/DynamicAnnotationDB.git@mat_refactor#egg=dynamicannotationdb
-e git+https://github.com/seung-lab/EMAnnotationSchemas.git@mat_refactor#egg=emannotationschemas
-e git+https://github.com/seung-lab/AnnotationFrameworkClient.git@authclient_fcc#egg=annotationframeworkclient
multiwrapper
jsonschema
middle-auth-client==2.4.3
flask_sqlalchemy
flask_cors
flask-marshmallow
flask-admin
flask-restx
flask-accepts
marshmallow-sqlalchemy
requests
cachetools
