numpy
Flask
pandas
-e git+https://github.com/seung-lab/DynamicAnnotationDB.git@postgres_v1#egg=dynamicannotationdb
-e git+https://github.com/seung-lab/EMAnnotationSchemas.git@marshmallow_3.5.1#egg=emannotationschemas
multiwrapper
jsonschema
marshmallow
flask_sqlalchemy
flask-marshmallow
flask-admin
flask-restx
flask-accepts
requests