Flask<2.0
emannotationschemas>=5.0.0
dynamicannotationdb>=5.0.4
caveclient>=4.0.0
multiwrapper
jsonschema<4.0
middle-auth-client>=3.11.1
flask_sqlalchemy
flask_cors
flask-marshmallow==0.14.0
flask-admin
flask-restx
flask-accepts
marshmallow-sqlalchemy
requests
cachetools
