Flask<2.0
dynamicannotationdb>=3.0.0
emannotationschemas>=3.2.3
caveclient>=4.0.0
multiwrapper
jsonschema
middle-auth-client>=3.8.1
flask_sqlalchemy
flask_cors
flask-marshmallow==0.14.0
flask-admin
flask-restx==0.4.0
flask-accepts
marshmallow-sqlalchemy
requests
cachetools
